.navbar-container {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px;

  padding-top: 10px;
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    position: relative;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .menu-item-more {
      display: inline-block;
      vertical-align: middle;
      margin-top: 16px;
      margin-left: 12px;
      height: 100%;
    }
  }
  
  .menu-items {
    margin: 0 10px;
    font-weight: 600;
    font-weight: 20px;
    padding: 0 10px;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .right-items {
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      margin: 0;
      padding: 0;
    }
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      display: flex;
      li {
        padding: 10px;
        cursor: pointer;
        position: relative;
      }
      li:hover {
        border-radius: 4px;
      }
    }
  }
  .icon-left {
    padding-top: 4px !important;
  }
  .icon-right {
    padding-top: 15px !important;
  }
  .logout-button {
    position: relative;
  }
  .logout-menu {
    position: absolute;
    top: 43px;
    left: -17px;
    margin: 6px 4px;
    border: solid 1px #80808052;
    border-radius: 4px;
    box-shadow: 2px 1px 3px 1px #80808052;
    background: #fff;
    opacity: 0;
    transform: translateY(-50%);
    transition:
      opacity 0.2s ease-in-out,
      transform 0.2s ease-in-out;
    pointer-events: none;
  }
  .logout-menu.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}
