.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.356);
  z-index: 99;
  animation: fadeIn 0.2s ease-out;
  cursor: pointer;
  .modal-container {
    overflow: hidden;
    animation: fadeIn 0.2s ease-out;
    .heading {
      margin-left: 25px;
      font-size: 20px;
      font-weight: 600;
    }
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 4px;
    height: 40vh;

    padding: 5px;
    .form-container {
      margin-right: 50px;
      .editable-content {
        width: 100%;
        margin: 5px auto;
        border-radius: 4px;
        box-shadow: 1px 2px 6px 1px rgba(128, 128, 128, 0.0705882353);
        outline: none;
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        border: solid 1px lightgray;
      }
      .editable-description {
        @extend .editable-content;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
